In [6]:
# importing libraries
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv('Ecommerce Purchases.csv')
data.sample(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
4527,USNS Peterson\nFPO AE 69307,96 qw,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,Moore LLC,349446721013865,11/21,695,VISA 13 digit,michaelnguyen@miller.info,Outdoor activities/education manager,204.169.144.65,zh,23.15
1833,"7570 Cooper Forks\nReginaville, TN 16780",60 LI,AM,Mozilla/5.0 (Windows; U; Windows NT 4.0) Apple...,"Decker, Richardson and Mills",379877698770652,04/20,729,Voyager,rcampbell@burns-lawrence.net,"Therapist, art",198.40.53.223,el,70.94
6739,"152 Brandon Dale\nMoniqueborough, MH 64916",98 Qv,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Pacheco Ltd,30067764834456,04/25,827,VISA 16 digit,katie22@oneill.com,"Engineer, manufacturing",195.12.127.91,en,58.63
6733,"25991 Philip Plaza\nGregorymouth, AK 07651-7311",79 Ws,PM,Opera/8.52.(X11; Linux i686; sl-SI) Presto/2.9...,Burns-Matthews,6011835250959593,08/18,528,VISA 16 digit,mhunter@hotmail.com,"Administrator, Civil Service",73.243.128.192,el,73.26
6940,Unit 8848 Box 3183\nDPO AP 38392-3648,44 Or,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_5...,Sims-Wells,4463384699939849,07/18,694,JCB 16 digit,dereklam@wheeler.info,Statistician,189.0.90.14,pt,15.77

In [8]:
#checking shape  of the dataset
data.shape

(10000, 14)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [10]:
#checking for missing values
data.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [11]:
#checking data types
data.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

In [12]:
#getting some basic statistical information about the data
data.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

In [13]:
#checking the columns present in the dataset
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [14]:
data['Purchase Price'].max()

99.99

In [15]:
data['Purchase Price'].min()

0.0

In [16]:
avg_price = float(data['Purchase Price'].mean())
avg_price

50.347302

In [17]:
data['Language'].value_counts()

Language
de    1155
ru    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: count, dtype: int64

In [18]:
data[data["Language"]== 'fr'].sample(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
932,"891 Dennis Cliff\nNorth William, SD 16995-4994",59 Cl,PM,Opera/9.42.(X11; Linux i686; it-IT) Presto/2.9...,Beck and Sons,210069858249619,06/20,5383,Discover,gaysara@stone.com,Midwife,187.138.4.81,fr,64.17
3535,"0481 Fox Springs\nWest Andrea, CT 66840",15 oa,AM,Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....,Hayes-Mcclure,30089278771982,05/25,497,American Express,schwartzcaroline@herrera-mathis.com,Film/video editor,115.223.112.165,fr,93.21
9305,19255 Kimberly Gateway Apt. 054\nWest Courtney...,37 lO,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,"Stevens, Lee and Moore",3337948242225850,09/23,154,JCB 16 digit,ggomez@zavala-glenn.com,Agricultural engineer,253.238.124.56,fr,72.32
5090,"46487 Katie Park Suite 565\nJohnnybury, MP 05349",54 hI,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows NT ...,Ramirez and Sons,375012418808657,08/22,315,Diners Club / Carte Blanche,holly32@keller-park.com,"Journalist, magazine",64.130.101.87,fr,12.63
6130,"01166 Lance Lodge Suite 729\nMyersland, IA 065...",40 Ya,PM,Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....,Hammond-Avila,4874073109054157,03/25,96,JCB 16 digit,samuelward@hotmail.com,Haematologist,250.140.49.77,fr,45.90

In [19]:
data[(data['Job'].str.contains('engineer', case = False))]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
50,"41159 Michael Centers\nAdamsfort, RI 37108-6674",46 Ce,PM,Mozilla/5.0 (Windows 98; Win 9x 4.90; sl-SI; r...,"Wright, Williams and Mendez",4008586485908075,05/19,945,JCB 16 digit,susanvalentine@obrien.org,Mechanical engineer,213.203.143.215,de,36.85
55,"27635 Maureen Bypass Apt. 883\nSandraview, SD ...",59 LJ,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,Sims-Lyons,3158113629128344,09/19,857,VISA 16 digit,adkinsarthur@yahoo.com,"Engineer, broadcasting (operations)",227.235.89.210,pt,48.74
60,"7126 Katherine Squares\nPerkinsview, CO 97299-...",63 qu,AM,Opera/8.68.(X11; Linux x86_64; en-US) Presto/2...,Marshall-Fernandez,349767747049645,05/20,672,JCB 15 digit,sweeneyhannah@jones.biz,"Engineer, agricultural",197.144.142.102,de,20.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9948,"95544 Johnson Isle Suite 939\nMichaelberg, RI ...",91 bW,AM,Opera/8.36.(X11; Linux x86_64; sl-SI) Presto/2...,Fox-Peterson,4762924304307,03/17,567,Mastercard,haleybenjamin@gmail.com,Structural engineer,120.36.140.58,en,71.89
9952,"9991 Vaughn Hills\nRacheltown, PA 55409",36 KC,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,"Ward, Smith and Castillo",6011679271321726,09/19,964,Voyager,jonesjennifer@olson.com,"Engineer, energy",116.228.12.42,es,39.63
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9977,"02182 Keith Expressway\nEast Shannon, CT 20578...",34 RL,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Deleon, Jacobson and Benton",4186094003664688,06/21,397,JCB 16 digit,daltoncarter@yahoo.com,Biomedical engineer,146.238.118.2,fr,94.93
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63

In [20]:
data.loc[data['IP Address']=='116.228.12.42', 'Email']

9952    jonesjennifer@olson.com
Name: Email, dtype: object

In [21]:
data['AM or PM'].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [24]:
list = []
for i in data['Email']:
    list.append(i.split('@')[1])
data['temp'] = list
print(data['temp'])

0                  yahoo.com
1                   reed.com
2       morales-harrison.com
3        olson-robinson.info
4                  gmail.com
                ...
9995         wade-garner.com
9996             hotmail.com
9997               gmail.com
9998                reid.net
9999              vaughn.com
Name: temp, Length: 10000, dtype: object

In [29]:
data.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,temp
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,yahoo.com
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,reed.com
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,morales-harrison.com
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,olson-robinson.info
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,gmail.com

In [30]:
data['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64